.foto-perfil{
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 1em;
  bottom: 1em;
  width: 8em;
  height: 8em;
}
.background{
  --background: #fff url('../../../assets/img/fondouser.jpg') no-repeat center center / cover;
}

