ion-toolbar {
  --color: #ffffff;
  --background: #d86b13;
}
.brand-image {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 7em;
}
.brand {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 7em;
}
